@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-image: url('night5.jpg');
    font-family: 'Poppins', sans-serif;
}

button {
    width: 75px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 3px #ffffff;
}

#header {
    padding: 10px;
    color: white;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#header button:hover {
    background-color: #b1aeb19d;
    color: white;
    transition: all ease 0.4s;
}

#header button.active {
    background-color: #3f3b3f;
    color: #3f3b3f;
}

#container {
    width: 770px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

#weekdays {
    width: 100%;
    display: flex;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 70px;
}

#weekdays div {
    width: 100px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    padding: 15px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    margin: 5px;
    box-shadow: 0px 0px 3px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    overflow: hidden;
    border-radius: 25px;
    text-align: center;
    margin-bottom: px;
}

.day:hover {
    background-color: #908a92c5;
    color: white;
    transition: all ease 0.4s;
}

.day+#currentDay {
    background-color: #ada7a7b2;
}

.event {
    font-size: 9px;
    padding: 3px;
    background: rgba(46, 45, 45, 0.623);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    color: white;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    cursor: default !important;
    background-color: #fffcff00 !important;
    box-shadow: none !important;
}

#newEventModal,
#deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
    border: 2px solid red;
}

#cancelButton,
#deleteButton {
    border: white;
    border-radius: 0%;
    background-color: #00000000;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#cancelButton:hover,
#deleteButton:hover {
    background-color: #908a92c5;
    color: white;
    transition: all ease 0.4s;
}

#saveButton,
#closeButton {
    background-color: #948b8b;
    border-radius: 0%;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#saveButton:hover,
#closeButton:hover {
    background-color: #2b2a2b;
    color: white;
    transition: all ease 0.4s;
}

#eventText {
    font-size: 14px;
    margin-bottom: 40px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #3f3b3f81;
}